<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908012712454-gr096bba744f1phk39oeij2i10ijrj9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908012712454-gr096bba744f1phk39oeij2i10ijrj9f</string>
	<key>API_KEY</key>
	<string>AIzaSyAGmH4LWIjHr2pAd6wBms5vjmq21O1l8kU</string>
	<key>GCM_SENDER_ID</key>
	<string>908012712454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joon.spotify-login</string>
	<key>PROJECT_ID</key>
	<string>spotify-login-app</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-login-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908012712454:ios:e9fd7296f4f4daec9b4987</string>
</dict>
</plist>